ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

a {
  font-family: "menuskrift";
  color: #010101;
  text-decoration: none;
  font-size: 2rem;
}

@font-face {
  font-family: "overskrift1";
  src: url(font/Kanit-Bold.ttf);
}

@font-face {
  font-family: "menuskrift";
  src: url(font/Seagram\ tfb.ttf);
}

@font-face {
  font-family: "brødtekst";
  src: url(font/Archivo_SemiCondensed-Thin.ttf);
}

.background_color {
  background-color: #333;
}

.h2 {
  font-family: "overskrift1";
  color: #010101;
  text-decoration: none;
  font-size: 1.5rem;
}

.desc {
  font-family: "brødtekst";
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.h1 {
  font-family: "overskrift1";
  color: white;
}
